/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  and follow the formatting and style given.
*/

/* philosopher-regular - latin */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: url('static/fonts/philosopher-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Philosopher Regular'), local('Philosopher-Regular'),
       url('static/fonts/philosopher-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('static/fonts/philosopher-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('static/fonts/philosopher-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('static/fonts/philosopher-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('static/fonts/philosopher-v12-latin-regular.svg#Philosopher') format('svg'); /* Legacy iOS */
}

body {
font-family: 'Philosopher', sans-serif;
}