/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  and follow the formatting and style given.
*/

/* josefin-slab-regular - latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/josefin-slab-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/josefin-slab-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/josefin-slab-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/josefin-slab-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/josefin-slab-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/josefin-slab-v13-latin-regular.svg#JosefinSlab') format('svg'); /* Legacy iOS */
}

/* alegreya-regular - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/alegreya-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Regular'), local('Alegreya-Regular'),
       url('../fonts/alegreya-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-v13-latin-regular.svg#Alegreya') format('svg'); /* Legacy iOS */
}
/* alegreya-800 - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/alegreya-v13-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Alegreya ExtraBold'), local('Alegreya-ExtraBold'),
       url('../fonts/alegreya-v13-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-v13-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-v13-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-v13-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-v13-latin-800.svg#Alegreya') format('svg'); /* Legacy iOS */
}

/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('../fonts/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-v10-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}

/* fira-code-regular - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-code-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/fira-code-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-code-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-code-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-code-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-code-v8-latin-regular.svg#FiraCode') format('svg'); /* Legacy iOS */
}

/* fira-mono-regular - latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-mono-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fira Mono Regular'), local('FiraMono-Regular'),
       url('../fonts/fira-mono-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-mono-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-mono-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-mono-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fira-mono-v8-latin-regular.svg#FiraMono') format('svg'); /* Legacy iOS */
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Josefin Slab', serif;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

 code {
   font-family: 'Fira Code', monospace;
 }

  pre {
   display: table;
   font-family: 'Fira Mono', monospace;
 }

 .button {
   font-family: 'Fira Sans', sans-serif;
 }


/*Top Navigation Styles Solarized*/

 #site-header {background-color: #EAE7DC;}
  #site-header a {color: #2E3440;}
  #site-header a:hover {color: #E85A4F;}
  #site-header a {font-family: 'Alegreya', serif;}

/*#site-nav .nav-title a {color: #ff0053;}
  #site-nav .nav-title a:hover {color: #a9a9b3;}*/

/* Main Content Area Styling */

#wrapper {background-color: #EAE7DC;}

.pagination .button {
  color: #EAE7DC;
  border-color: #E98074;
  }
  .pagination .button:hover,
  article.post .button:hover {
    color: #E85A4F !important;
    border-color: #E98074;
  }

article.post{
  background-color: #D8C385;
  border-radius: 5px 15px 5px 5px;
  }
  article.post .button {
    margin: 10px 5px 15px;
    text-align: right;
  }

.hljs,
code {
  background: #ECEFF4;
  border-radius: 5px;
  border: 1px solid #A3BE8C;
  color: #2E3440;
  }
  .hljs:hover, code:hover {border: 1px solid #304848;}

/* MCA Links and Hover Styles */

.content p a {color: #D08770;} /* color change for links in post paragraphs */
  .content p a:hover {color: #E85A4F;}

/* Sidebar Area Styles */

#site-intro header h1 {color: #006D2C;}
#site-intro p {color: #2E3440;}
#site-intro ul {color: #BC4639;}
#Sidebar a {font-family: 'Alegreya', serif;}
#Sidebar .recent-posts .mini-post h1:hover {color: #E85A4F;}

.cta {
text-align: left;
font-family: 'Fira Sans', sans-serif;
text-shadow:0 1px 1px rgba(0,0,0,0.2);
}

.cta button:hover {
background-color:#E85A4F;
margin-top:6px;
margin-bottom:16px;
border-radius:4px;
padding:8px 20px;
}
