/*FONT FAMILIES*/
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,700|Fira+Mono:400,700|Fira+Sans:400,400i,500,500i,700,700i|Roboto+Slab:400,500,700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}

body {
  font-family: 'Fira Sans', serif;
}

code {
    font-family: 'Fira Code', monospace;
}

monospace {
  font-family: 'Fira Mono', monospace;
}

math {
  font-family: 'Fira Mono', monospace;
}

/*BACKGROUND COLOR*/
body {
  background-color: #073642;
  color: #93a1a1;
}

.title {
  text-align: center;
}

.author{
  text-align: center;
}

.author-afil {
  text-align: center;
}

.date{
  text-align: center;
  page-break-after: always;
}

.abstract {
  text-align: left;
  page-break-after: always;
}

h1 {
  color: #268bd2;
}

/*HEADING FONT COLOR*/
h2,
h3,
h4,
h5,
h6 {
  color: #93a1a1; /*#cb4b16;*/
}

/*LINKS*/
/* unvisited link */
a:link {
  color: #b58900;
}

/* visited link */
a:visited {
  color: #2aa198;
}

/* mouse over link */
a:hover {
  color: #6c71c4;
}

/* selected link */
a:active {
  color: #859900;
}
